@model OnlineShopping.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<html>
<head>
    <title>Online Shopping</title>
    <link href="/CSS/admin_stylesheet.css" rel="stylesheet" type="text/css" />
    <link href="~/CSS/sweetalert.css" rel="stylesheet" />
</head>
<body>
    <style>
        .AdminLogin {
            margin: 7% 30%;
            padding: 6% 10%;
            background: rgb(236, 233, 233);
        }

        .dashinp {
            margin-bottom: 10px;
        }

        .SignIn {
            text-align: center;
            padding: 5PX 30PX;
            background-color: rgb(30, 95, 209);
            color: #FFF;
            margin: 10% 0 10% 30%;
        }

        .forgot {
            margin-top: 8%;
            font-size: 14px;
        }
    </style>
    <div class="AdminLogin">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            <h1 style="text-align: center; margin-bottom: 20px">Enter email-address</h1>
            <div class="container">
                @Html.TextBoxFor(m => m.EmailId, new { @class = "dashinp", @placeholder = "Email Address", @onkeypress = "return OnlyLegalCharacters();" })
                @Html.ValidationMessageFor(m => m.EmailId)
                <input type="submit" value="Submit" onclick="return CheckAndSumbitValidForm(this)" class="SignIn" />
            </div>
        }
    </div>
    <script type="text/javascript" src="/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/sweetalert-dev.js"></script>
</body>
</html>
<!--End contactus-->

<script>
    $(document).ready(function () {       
        if ('@ViewBag.SendEmailMessage' != '') {
            swal('Reset password link is sent at your registered email-address', '', 'success');
        }
    })
</script>
